<div *ngIf="role">
    <div class="component d-flex justify-content-center">
        <form #loginReq="ngForm" (submit)="submitForm(loginReq)">
    
            <div class="d-flex flex-row my-2 justify-content-start">
                <input required class="form-control mx-2 px-2" placeholder="E-mail" type="text" [(ngModel)]="model.email"
                    name="email">
            </div>
    
            <div class="d-flex flex-row my-2 justify-content-start">
                <input required class="form-control mx-2 px-2" placeholder="First name" type="text"
                    [(ngModel)]="model.firstName" name="firstName">
            </div>
    
            <div class="d-flex flex-row my-2 justify-content-start">
                <input required class="form-control mx-2 px-2" placeholder="Last name" type="text"
                    [(ngModel)]="model.lastName" name="lastName">
            </div>
    
            <div class="d-flex flex-row my-2 justify-content-start">
                <input required class="form-control mx-2 px-2" placeholder="Status" type="text" [(ngModel)]="model.status"
                    name="status">
            </div>
    
            <div class="m-2 d-flex">
                <div class="form-check-inline my-1">
                    <input class="form-check-input me-1" type="radio" [value]="0" ngModel name="isAdmin"
                        [(ngModel)]="model.isAdmin">
                    <label class="form-check-label" for="exampleRadios1">
                        Agent
                    </label>
                </div>
                <div class="form-check-inline my-1">
                    <input class="form-check-input me-1" type="radio" [value]="1" name="isAdmin"
                        [(ngModel)]="model.isAdmin">
                    <label class="form-check-label" for="exampleRadios1">
                        Admin
                    </label>
                </div>
    
                <button type="submit" class="btn btn-primary px-2 ms-auto">Save</button>
            </div>
        </form>
    </div>
    
    <div *ngIf="accounts != null">
        <div *ngFor="let account of accounts.formatedAgents; let i = index;">
            <div class="border my-2">
                <h1>{{account.agentId}}</h1>
                <h2>Name: {{account.firstName + " " + account.lastName}}</h2>
                <h2>Email: {{account.email}}</h2>
                <div class="d-flex justify-content-end">
                    <button (click)="editAccount(account)" class="btn btn-primary m-2 px-2">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
