<div class="component d-flex justify-content-center">
    <form #searchFlights="ngForm" (submit)="submitForm(searchFlights)">

        <div class="d-flex flex-row my-2 justify-content-start">
            <input required class="form-control mx-2 px-2 w-auto" placeholder="Destination city"
                [(ngModel)]="model.cityCode" name="originLocationCode">
        </div>
        <div class="d-flex flex-row my-2 justify-content-start align-items-end flex-wrap">
            <div class="form-group m-2 w-auto">
                <label for="checkInDate">Check-in date date</label><br>
                <input required id="checkInDate" class="form-control" min="{{todayDate | date: 'yyyy-MM-dd'}}"
                    type="date" [(ngModel)]="model.checkInDate" name="checkInDate" />
            </div>
            <div class="form-group m-2 w-auto">
                <label for="checkOutDate">Check-out date</label><br>
                <input required id="checkOutDate" class="form-control" min="{{model.checkInDate| date: 'yyyy-MM-dd'}}"
                    type="date" [(ngModel)]="model.checkOutDate" name="checkOutDate" />
            </div>
            <div class="form-group m-2">
                <label for="selectPassengers">Number of adults</label>
                <select class="form-select" id="selectPassengers" name="adults" [(ngModel)]="model.adults" required>
                    <option *ngFor="let amount of peopleAmount" [value]="amount">{{amount}}</option>
                </select>

            </div>
            <div class="form-group m-2">
                <label for="selectAdults">Number of rooms</label>
                <select class="form-select" id="selectAdults" name="class" [(ngModel)]="model.roomQuantity" required>
                    <option *ngFor="let amount of roomAmount" [value]="amount">{{amount}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary m-2 px-2">Search hotels</button>
        </div>
    </form>
</div>