<div class="pb-5">
  <nav id="head" class="headfoot navbar navbar-expand-lg px-4 fixed-top">
    <a class="navbar-brand" href="/">NM Flights</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="navbar-nav ms-auto" mat-flat-button color="primary" [matMenuTriggerFor]="menu">Support</button>
      <mat-menu #menu="matMenu">
        <a class="nav-link" href="/mybooking"><button mat-menu-item>My booking</button></a>
        <a class="nav-link" href="/faq"><button mat-menu-item>FAQ</button></a>
        <a class="nav-link" href="/admin"><button mat-menu-item *ngIf="sessionRole == 'admin'">Admin</button></a>
        <a class="nav-link" href="/agent"><button mat-menu-item
            *ngIf="sessionRole == 'admin' || sessionRole == 'agent'">Agent</button></a>
        <a class="nav-link" href=""><button *ngIf="sessionUsername != null" mat-menu-item (click)="logout()"><b>Log
              out</b></button></a>
      </mat-menu>
    </div>
  </nav>
</div>

<router-outlet *ngIf="accessTokenSet"></router-outlet>

<div class="pt-5">
  <footer id="foot" class="headfoot d-flex justify-content-between align-items-center fixed-bottom">
    <span class="ms-4">© 2023 NM Flights</span>
  </footer>
</div>