<div *ngIf="!flightBooked" class="component-top">
    <form #createBooking="ngForm" (submit)="submitForm(createBooking)">
        <div class="d-flex justify-content-center flex-wrap">
            <mat-form-field subscriptSizing="dynamic" class="input">
                <mat-label>E-mail of buyer</mat-label>
                <input matInput type="email" [(ngModel)]="model.email" name="email">
                <button *ngIf="model.email" matSuffix mat-icon-button aria-label="Clear" (click)="model.email=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div *ngFor="let passenger of passengersAdults; let index = index" class="customer-info-card">
            <div>
                <h2>Info of adult no. {{index + 1}}</h2>
            </div>
            <div class="d-flex justify-content-center flex-wrap">
                <mat-form-field subscriptSizing="dynamic" class="select-standalone">
                    <mat-label>Gender</mat-label>
                    <mat-select [(value)]="passenger.gender">
                        <mat-option *ngFor="let choice of gender" [value]="choice">
                            {{choice}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="input">
                    <mat-label>First and middle name</mat-label>
                    <input matInput type="text" [(ngModel)]="passenger.firstName" name="firstName">
                    <button *ngIf="passenger.firstName" matSuffix mat-icon-button aria-label="Clear"
                        (click)="passenger.firstName=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="input">
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" [(ngModel)]="passenger.lastName" name="lastName">
                    <button *ngIf="passenger.lastName" matSuffix mat-icon-button aria-label="Clear"
                        (click)="passenger.lastName=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="date">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [(ngModel)]="passenger.dateOfBirth" name="datepick" [max]="maxDate"
                        [matDatepicker]="picker" disabled>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div *ngFor="let passenger of passengersChildren; let index = index" class="customer-info-card">
            <div>
                <h2>Info of child no. {{index + 1}}</h2>
            </div>
            <div class="d-flex justify-content-center flex-wrap">
                <mat-form-field subscriptSizing="dynamic" class="select-standalone">
                    <mat-label>Gender</mat-label>
                    <mat-select [(value)]="passenger.gender">
                        <mat-option *ngFor="let choice of gender" [value]="choice">
                            {{choice}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="input">
                    <mat-label>First and middle name</mat-label>
                    <input matInput type="text" [(ngModel)]="passenger.firstName" name="firstName">
                    <button *ngIf="passenger.firstName" matSuffix mat-icon-button aria-label="Clear"
                        (click)="passenger.firstName=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="input">
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" [(ngModel)]="passenger.lastName" name="lastName">
                    <button *ngIf="passenger.lastName" matSuffix mat-icon-button aria-label="Clear"
                        (click)="passenger.lastName=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="date">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [(ngModel)]="passenger.dateOfBirth" name="datepick" [max]="maxDate"
                        [matDatepicker]="picker" disabled>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div *ngFor="let passenger of passengersInfants; let index = index" class="customer-info-card">
            <div>
                <h2>Info of infant no. {{index + 1}}</h2>
            </div>
            <div class="d-flex justify-content-center flex-wrap">
                <mat-form-field subscriptSizing="dynamic" class="select-standalone">
                    <mat-label>Gender</mat-label>
                    <mat-select [(value)]="passenger.gender">
                        <mat-option *ngFor="let choice of gender" [value]="choice">
                            {{choice}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" class="input">
                    <mat-label>First and middle name</mat-label>
                    <input matInput type="text" [(ngModel)]="passenger.firstName" name="firstName">
                    <button *ngIf="passenger.firstName" matSuffix mat-icon-button aria-label="Clear"
                        (click)="passenger.firstName=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="input">
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" [(ngModel)]="passenger.lastName" name="lastName">
                    <button *ngIf="passenger.lastName" matSuffix mat-icon-button aria-label="Clear"
                        (click)="passenger.lastName=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" class="date">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [(ngModel)]="passenger.dateOfBirth" name="datepick" [max]="maxDate"
                        [matDatepicker]="picker" disabled>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <button mat-flat-button color="primary" type="submit">Go to payment</button>
    </form>
</div>

<app-payment *ngIf="formSubmitted" [bookingResponse]="bookingResponse" [flightInfo]="flightInfo"></app-payment>

<div class="spinner d-flex justify-content-center" id="spinner" *ngIf="isLoading" scrollTo>
    <mat-spinner></mat-spinner>
</div>