<div class="component component-top component-fit">
    <form #loginReq="ngForm" (submit)="submitForm(loginReq)">
        <div class="d-flex justify-content-center flex-wrap">
            <mat-form-field subscriptSizing="dynamic" class="input">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" [(ngModel)]="model.email" name="email">
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic" class="input">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="model.password" name="password">
            </mat-form-field>
            <div class="d-flex justify-content-center">
                <button type="submit" mat-flat-button color="primary">Login</button>
            </div>
        </div>
    </form>
</div>