<div class="component component-top component-fit ">
    <form #bookingReq="ngForm" (submit)="submitForm(bookingReq)">
        <div class="d-flex justify-content-center flex-wrap">
            <mat-form-field subscriptSizing="dynamic" class="input">
                <mat-label>Booking reference</mat-label>
                <input [(ngModel)]="model.bookingReference" matInput placeholder="ID" name="bookingId">
            </mat-form-field>
            <div class="d-flex justify-content-center">
                <button type="submit" mat-flat-button color="primary">Retrieve booking</button>
            </div>
        </div>
    </form>
</div>