<div class="component">
    <div id="print-section">
        <div *ngIf="booking.bookingReference != null" class="container">
            <h1>Booking reference ID: {{ booking.bookingReference }}</h1>
        </div>
        <h1>Passenger Details</h1>
        <div *ngFor="let traveller of booking.passengers" class="container">
            <p>
                <strong>Name:</strong> {{traveller.passengerTitle}} {{traveller.passengerFirstName}}
                {{traveller.passengerLastName}}
            </p>
            <p>
                <strong>Passenger type:</strong> {{traveller.passengerType}}
            </p>
            <p>
                <strong>Ticket number:</strong> {{traveller.passengerticketNumber}}
            </p>
        </div>
        <h1>Itinerary Details</h1>
        <div *ngFor="let segment of booking.flight" class="container">
            <p>
                <strong>Flight:</strong> {{ segment.airline }} {{ segment.flightNumber }}
            </p>
            <p>
                <strong>Departure:</strong> {{ segment.departureFrom }} <span
                    *ngIf="segment.departureTerminal != ''">terminal {{ segment.departureTerminal }}</span> at
                {{ segment.departureDateTime }}
            </p>

            <p>
                <strong>Arrival:</strong> {{ segment.arrivalTo }} <span *ngIf="segment.arrivalTerminal != ''">
                    terminal {{ segment.arrivalTerminal }}
                </span> at {{ segment.arrivalDate }}
            </p>

            <p>
                <strong>Duration:</strong> {{ segment.flightDuration }}
            </p>
            <mat-divider *ngIf="booking.flight.indexOf(segment) + 1 < booking.flight.length"></mat-divider>
        </div>

        <h1>Payment Details</h1>
        <div *ngIf="booking.payment != null" class="container">

            <p>
                <strong>Transaction Date:</strong> {{ booking.payment.transactionDate }}
            </p>
            <p>
                <strong>Payment Amount:</strong> {{ booking.payment.paymentAmount }}
                {{ booking.payment.paymentCurrency }}
            </p>
            <p>
                <strong>Payment Type:</strong> {{ booking.payment.paymentType }}
            </p>
            <p>
                <strong>Payment Method:</strong> {{ booking.payment.paymentMethod }}
            </p>
        </div>
    </div>

    <div class="d-flex mx-auto justify-content-around">
        <button type="submit" mat-flat-button color="primary">Resend email</button>
        <button type="submit" printTitle="NMFlights" printSectionId="print-section" ngxPrint mat-flat-button
            color="primary">Print</button>
    </div>
</div>