/* You can add global styles to this file, and also import other style files */
.component {
    margin: 10vh 0vw; 
    padding: 10vh 0vw;
}

.component>form {
    background-color: skyblue;
    border-radius: 10px;
    border: solid white;
}

body {
    background-image: url("/assets/images/Lofoten.jpeg");
    background-repeat: no-repeat;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
