/* You can add global styles to this file, and also import other style files */
.component {
    margin: 10vh auto 10vh auto;
    padding-bottom: 20vh;
    width: fit-content;
}

.component>form {
    background-color: #505050;
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
}

html, body { height: 100%; }

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #686868 !important
}

.headfoot * {
    color: white;
}

.headfoot {
    background-color: #505050 !important;
}

a {
    color: white !important;
}