<div *ngIf="offers != null && !flightChosen" class="component offer-component">
    <div *ngFor="let offer of offers.data; let i = index;">
        <div *ngIf="shownOffers > i" class="border my-2 content">
            <div *ngFor="let iti of offer.itineraries">
                <div *ngFor="let seg of iti.segments">
                    <h3>Company: {{seg.carrierName}}</h3>
                    <p>Departure: {{seg.departure.at}} at terminal {{seg.departure.terminal}} from
                        {{seg.departure.iataCode}}
                    </p>
                    <p>Arrival: {{seg.arrival.at}} at terminal {{seg.arrival.terminal}} to {{seg.arrival.iataCode}}
                    </p>
                </div>
                <p>Duration: {{iti.duration}}</p>
            </div>
            <div class="d-flex justify-content-end align-items-end">
                <h3>{{offer.price.currency}} {{offer.price.grandTotal}}</h3>
                <button mat-flat-button color="primary" (click)="bookFlight(offer.id)">Book flight</button>
            </div>
        </div>
    </div>
    <button mat-flat-button color="primary" *ngIf="moreOffers" (click)="showMoreOffers()">Show more</button>
</div>

<app-book-flight *ngIf="flightChosenHasResponse" [flightInfo]="flightInfo"
    [passengerCount]="passengerCount"></app-book-flight>

<div class="component spinner d-flex justify-content-center" id="spinner" *ngIf="isLoading" scrollTo>
    <mat-spinner></mat-spinner>
</div>